$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@mixin title{
  text-align: center;
  text-transform: uppercase;
  margin-top:18px;
  margin-bottom: 8px;
  font-family: langdon, sans;
  font-size: 75px;
  color: #22264b;
  letter-spacing: 0.02em;
  font-weight: lighter;
}


@mixin symbol{
    width: 40%;
}


$yellow: #e6cf8b;
$pink: #b56969;
$blue: #22264b;
$lightblue: #e8edf3;

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}



body {
  padding: 0;
  background: #e8edf3;

  ::-webkit-input-placeholder {
    color: #22264b;
  }

  :-ms-input-placeholder {
    color:  #22264b;
  }

}

.console {

  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  margin: auto;

  .w-input{
    width: 70%;
    font-family: 'Roboto', sans-serif;
    color: #22264b;
    background: #b56969;
    height: 70px;
    font-size: 45px;
    line-height: 45px;


    :-webkit-input-placeholder {
      color: #22264b;
    }
  }


  .gender-symbols {



    .male-symbol {
      float: left;
      @include symbol;
      color: $blue;
    }

    .female-symbol {
      float: right;
      @include symbol;
      color: $pink;
    }

  }


}


@font-face {
  font-family: langdon;
  src: url('Langdon.otf');
}



h1{
  @include title;
}

.ear {
  display: inline;
  height: 75px;
  fill: #b56969;
  svg {
    fill: #b56969;
  }
}

h2{
  text-align: center;
  text-transform: uppercase;
  margin-top:18px;
  margin-bottom: 8px;
  font-family: langdon, sans;
  font-size: 35px;
  color: #333;
  letter-spacing: 0.02em;
}

p{
  margin: 0px auto;
  text-align: center;
  width: 70%;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  line-height: 28px;

  .tweet{
    height: 28px;
    display: inline;
  }


}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid $yellow;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: $yellow;
  border-top: 1px solid $yellow;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid $yellow;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
    background: #e6cf8b;
    font-family: 'Roboto', sans-serif;
  }

}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

#svg{
  margin: 0px auto;
}
