<br>
<br>
<h1>
  <text style="font-size:75px; font-family: 'Roboto', sans-serif; display: inline-block"><b>#</b></text>IAMLISTENING

  <img src="images/ear.png" class="ear">
  <!--<object type="image/svg+xml" data="images/ear.png" class="ear">Your browser does not-->
    <!--support-->
    <!--SVG</object>-->
</h1>

<p>
  <img src="images/twitter1.png" class="tweet">
  A pledge to listen to diverse voices.
</p>


  <br>
  <br>


<div class="console">
      <form id="email-form" name="email-form" data-name="Email Form">
        <input class="w-input" id="Twitter-Handle" type="text" placeholder="@" name="Twitter-Handle" required="required" autofocus="autofocus" data-name="Twitter Handle">
      </form>
    <div></div>
  <br><br>

  <div class="gender-symbols">
      <img src="images/male10.png" class="male-symbol">

      <img src="images/female13.png" class="female-symbol">
  </div>




  <div class="gender-symbols">

      <h1 class="male-symbol">50%</h1>

      <h1 class="female-symbol">50%</h1>
  </div>


</div>
